.mainContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a;
}

.leftPanelContainer {
  width: 320px;
  flex-shrink: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #202020;
}

.contentContainer {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; // Вернули скролл
}
